*{
  box-sizing: border-box;
}
body{
  height: 100vh;

}

h1{
font-size: 35px;
color: white

}
.first_column{
background: blue;
width: 33vw;
height: 100vh;
float: left;
}

.second_column{
background: teal;
width: 33vw;
height: 100vh;
float: left;
}

.third_column{
background: teal;
width: 33vw;
height: 100vh;
float: left;
}

.top{
background: limegreen;
height: 75vh;
}

.bottom{
background: red;
height: 25vh;
text-align: center;
padding-top: 80px;
}
